@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&display=swap');

* {
    padding-top:20px;
    box-sizing: border-box;
    font-family: "Comfortaa";
  }
section{
    position: absolute;

}
.text h1{
    white-space: nowrap;
    letter-spacing: -0.4px;
    /* box-shadow: 5px 0 0 black; */
    overflow: hidden;
    border-right: 5px solid black;
    animation:text 3s steps(41),  caret 0.5s steps(2) infinite;

}
@keyframes caret{
    from{
        border-color: white;
    }
    to{
        border-color:black;
    }
}
@keyframes text{
    0%{
        width: 0px;
    }
    100%{
        width: 750px;
    }
    
}
  
 